html,
body,
#root {
    padding: 0;
    margin: 0;
}
html {
    /* height: 100vh; */
    /* height: 100%; */
    height: -webkit-fill-available;
    /* border: 2px solid yellow; */
    /* box-sizing: border-box; */
    /* background-color: orange; */
}

body {
    height: 100%;
    height: -webkit-fill-available;
    background-color: #999;
    /* border: 2px solid lime; */
    /* box-sizing: border-box; */
}
#root {
    height: 100%;
    height: -webkit-fill-available;
    /* border: 2px solid hotpink;
    box-sizing: border-box; */
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 100%;
    height: -webkit-fill-available; */
    position: absolute;
    inset: 0;
    /* border: 2px solid rgb(0, 238, 255); */
    --board-unit: 0.6vmin;
    --slot-unit: calc(0.83 * var(--board-unit));
    padding-top: calc(22 * var(--board-unit));
    padding-bottom: calc(6 * var(--board-unit));
    box-sizing: border-box;
    box-shadow: inset 0 0 calc(36 * var(--board-unit))
        calc(6 * var(--board-unit)) black;
    gap: calc(8 * var(--board-unit));
}

#info-button {
    --white: #ffffff2f;
    --black: #000000aa;
    --size: 3rem;
    position: fixed;
    top: 1vmin;
    right: 1vmin;
    font-size: var(--size);
    font-weight: bold;
    /* background-color: yellow; */

    color: var(--white);
    border: 0.35rem solid var(--white);
    border-radius: 50%;
    /* text-shadow: 0 0 0.5rem var(--black), 0 0 0.25rem var(--black);
  box-shadow: inset 0 0 0.5rem 0 var(--black), 0 0 0.5rem 0 var(--black); */
    filter: drop-shadow(0 0 0.5rem var(--black));
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: 1;
    cursor: pointer;
    z-index: 90;
    &:hover {
        /* color: var(--black); */
        --white: #ffffffaa;
        /* border-color: var(--black); */
        filter: drop-shadow(0 0 0.25rem var(--white));
    }
}
#info-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #000000aa;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &.show {
        display: flex;
    }
    & .modal-content {
        background-color: #333;
        color: tan;
        padding: 2vmin;
        border-radius: 1vmin;
        box-shadow: 0 0 1vmin 0.5vmin #000000aa;
        & h2 {
            font-size: 2rem;
            margin: 0;
        }
        & p,
        ul {
          color: #eee;
            font-size: 1.2rem;
            & li {
                margin: 1em 0;
            }
        }
        & span.hilight {
            color: rgb(255, 199, 126);
        }
    }
}

.board {
    position: relative;
    text-align: center;
    z-index: 10;
    filter: drop-shadow(0 3px calc(6 * var(--board-unit)) #000000dd);
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        border-left: calc(64 * var(--board-unit)) solid transparent;
        border-right: calc(64 * var(--board-unit)) solid transparent;
        border-bottom: calc(104 * var(--board-unit)) solid tan;
        bottom: calc(-3 * var(--board-unit));
        left: calc(-11.5 * var(--board-unit));
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -10;
        width: 0;
        height: 0;
        border-left: calc(72 * var(--board-unit)) solid transparent;
        border-right: calc(72 * var(--board-unit)) solid transparent;
        border-bottom: calc(116 * var(--board-unit)) solid #cba673;
        bottom: calc(-7.2 * var(--board-unit));
        left: calc(-19.5 * var(--board-unit));
    }
}
.slot {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    /* width: 45px;
    height: 45px;
    border: 15px solid grey;
    box-shadow: inset -5px 5px 5px #222;
    margin: 0 5px; */
    width: calc(17 * var(--slot-unit));
    height: calc(17 * var(--slot-unit));
    border: calc(5 * var(--slot-unit)) solid grey;
    box-shadow: inset calc(-2 * var(--slot-unit)) calc(2 * var(--slot-unit))
        calc(2 * var(--slot-unit)) #222;
    margin: 0 calc(2 * var(--slot-unit));
    background-color: #555;
    box-sizing: border-box;
    &.target {
        /* border: 5px solid rgb(231, 75, 75); */
        border: calc(5 * var(--slot-unit)) solid rgb(203 112 85);
        background-color: #2a77b9;
    }
    &.peg::after {
        content: "";
        position: absolute;
        border-width: 1px;
        border-radius: 50%;
        /* width: 30px;
        height: 30px;
        left: -8px;
        top: -8px; */
        width: calc(11 * var(--slot-unit));
        height: calc(11 * var(--slot-unit));
        left: calc(-2 * var(--slot-unit));
        top: calc(-2 * var(--slot-unit));
        background-color: #a5682a;
        box-shadow: inset calc(2 * var(--slot-unit)) calc(-2 * var(--slot-unit))
                calc(2 * var(--slot-unit)) #00000055,
            inset calc(-1.5 * var(--slot-unit)) calc(1.5 * var(--slot-unit))
                calc(2 * var(--slot-unit)) #ffffaa88,
            calc(-3 * var(--slot-unit)) calc(3 * var(--slot-unit))
                calc(4.5 * var(--slot-unit)) black,
            0 0 calc(4 * var(--slot-unit)) calc(-1 * var(--slot-unit)) black;
    }
    &.peg.selected::before {
        content: "";
        display: block;
        /* box-shadow: 0 0 5px 10px black, 0 0 20px 16px yellow; */
        /* box-shadow: 0 0 4px 8px black, 0 0 10px 10px #009688,
            0 0 20px 16px yellow; */
        box-shadow: 0 0 calc(1.4 * var(--slot-unit))
                calc(2.8 * var(--slot-unit)) black,
            /* 0 0 calc(4 * var(--slot-unit)) calc(4 * var(--slot-unit)) #009688, */
                0 0 calc(7.4 * var(--slot-unit)) calc(5.5 * var(--slot-unit))
                #04aa6d;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
    }
}

.controls {
    text-align: center;
    padding: 1vmin 2vmin;
    border-radius: 2vmin;
    border: 0.5vmin solid transparent;
    outline: 1px solid #ffffff88;
    outline-offset: -0.55vmin;
    box-shadow: 0 0 calc(3 * var(--board-unit)) 0 #ffffff88,
        inset 0 0 calc(5 * var(--board-unit)) 0 #ffffff88;
    z-index: 10;
    & .control {
        /* display: inline-block; */
        margin: 2vmin 1vmin;
        font-size: 1.3rem;
        font-weight: bold;
    }
    & button,
    input {
        min-height: 1.5rem;
        min-width: 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid #3f3f3f;
        background-color: #676767;
        text-align: center;
        vertical-align: middle;
        padding: 0.3rem 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #ddd;

        accent-color: #04aa6d;

        &:hover {
            box-shadow: inset -0.2rem 0.2rem 0.2rem #ffffff88,
                inset 0.2rem -0.2rem 0.2rem #00000088,
                -0.1rem 0.1rem 0.4rem #000000aa;
        }
        &[type="range"] {
            padding: 0;
        }
    }
    /* custom slider from  https://www.w3schools.com/howto/howto_js_rangeslider.asp */
    & .control.history {
        & span {
            display: block;
        }
        & .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 2rem;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
            border: none;
            border-radius: 0;
            margin: 0;
        }

        & .slider:hover {
            opacity: 1;
        }

        & .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2rem;
            height: 2rem;
            background: #04aa6d;
            cursor: pointer;
            opacity: 0.5;
        }

        & .slider::-moz-range-thumb {
            width: 2rem;
            height: 2rem;
            background: #04aa6d;
            cursor: pointer;
        }
    }
}

@media (min-aspect-ratio: 6/7) {
    .App {
        gap: calc(5 * var(--board-unit));
    }
    .controls {
        /* display:grid;
    grid-template-columns: 1fr 1fr; */
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        hr {
            display: none;
        }
        .control {
            flex: 1 0 32%;
            margin: 1vmin 0.5vmin;
        }
    }
}
